.page {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
  width: 100%;
  max-width: 1440px;
}

@media (min-width: 1200px) {
  .page {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 35vh auto;
    height: 100vh;
    background-color: black;
    width: 100%;
    max-width: 1440px;
  }
}
