.main {
  background-color: gray;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  width: auto;
}
.main__title-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: black;
  min-height: 5rem;
  width: 100%;
}
.main__title {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}
.main__text {
  margin: 0;
  font-size: 1rem;
  color: lightgray;
}
.main__content {
  width: 100%;
  max-width: 100%;
  flex: 1;
  display: flex;
}
