.home__container {
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
}
.home__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background-color: black;
}
