.home__container {
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.home__content {
  margin: 0;
  text-align: center;
  width: 1000px;
  border: solid 1px red;
}
