.footer {
  padding: 4rem;
  background-color: black;
  color: gray;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  grid-column: span 2;
}
.footer__copyright {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
