@import url(./vendor/normalize.css);
@import url(./components/App/App.css);
@import url(./components/App/Page.css);
@import url(./components/Main/Main.css);
@import url(./components/Nav/Nav.css);
@import url(./components/Home/Home.css);
@import url(./components/Slider/Slider.css);
@import url(./components/Projects/Projects.css);
@import url(./components/Contact/Contact.css);
@import url(./components/Footer/Footer.css);

:root {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #0f172a;
  background-color: black;
  --text-primary: #e1f5f0;
  /* --muted: #64748b; */
  /* --panel: #ffffff; */
  /* --border: #e2e8f0; */
  --lightmode-highlight-text: linear-gradient(90deg, #1e3a8a, #3b82f6);
  /* --accent-strong: #1d4ed8; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: rgb(148, 64, 64);
}

#root {
  min-height: 100vh;
}

a {
  color: inherit;
}

button {
  font: inherit;
}
