.nav {
  display: grid;
  grid-template-rows: 150px auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 0.55rem 0.7rem;
  background: rgb(7, 6, 6);
  box-shadow: var(--shadow);
  backdrop-filter: blur(8px);
}
.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  overflow: visible;
  background-color: white;
  border-radius: 50%;
  padding: 20px;
  display: flex;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.6rem;
  padding: 0;
  list-style: none;
  flex-direction: column;
  height: 100%;
}

.nav__link {
  color: var(--text-primary);
  font-weight: bold;
  font-size: 2rem;
  display: inline-flex;
  align-items: center;
  gap: 0.35rem;
  padding: 0.45rem 1.3rem;
  border-radius: 50px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.1s ease;
  border: 1px solid white;
}

.nav__link:hover {
  color: purple;
  background: #eff4ff;
}
