.nav {
  display: grid;
  grid-template-rows: 150px auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 2rem 0.7rem;
  background: black;
  backdrop-filter: blur(8px);
  min-width: 225px;
  width: auto;
}
.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.nav__image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  overflow: visible;

  padding: 20px;
  display: flex;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.6rem;
  list-style: none;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 3rem;
}

.nav__link {
  color: var(--text-primary);
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.35rem;
  padding: 0.45rem 1.3rem;
  border-radius: 50px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.1s ease;
  border: 1px solid white;
  min-width: 250px;
  width: 100%;
}

.nav__link:hover {
  color: rgb(0, 0, 0);
  background: #eff4ff;
}
